# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=2.0.0=pypi_0
aioitertools=0.11.0=pypi_0
albucore=0.0.12=pypi_0
albumentations=1.4.11=pypi_0
annotated-types=0.6.0=pypi_0
ansi2html=1.8.0=pypi_0
anyio=3.7.1=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.2.3=pypi_0
ase=3.22.1=pypi_0
asttokens=2.2.1=pyhd8ed1ab_0
async-lru=2.0.4=pypi_0
attrs=23.1.0=pypi_0
babel=2.12.1=pypi_0
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=pyhd8ed1ab_3
backports.functools_lru_cache=1.6.5=pyhd8ed1ab_0
bcrypt=4.1.1=pypi_0
beautifulsoup4=4.12.2=pypi_0
blas=1.0=mkl
bleach=6.0.0=pypi_0
bokeh=3.4.1=pypi_0
boltons=23.0.0=pypi_0
botocore=1.33.7=pypi_0
bravado=11.0.3=pypi_0
bravado-core=6.1.0=pypi_0
brotlipy=0.7.0=py39h2bbff1b_1003
ca-certificates=2023.7.22=h56e8100_0
cachetools=5.3.1=pypi_0
certifi=2023.7.22=py39haa95532_0
cffi=1.15.1=py39h2bbff1b_3
chardet=5.2.0=pypi_0
charset-normalizer=3.2.0=pypi_0
chem=1.2.0=pypi_0
click=8.1.6=pypi_0
colorama=0.4.6=pyhd8ed1ab_0
comm=0.1.3=pypi_0
contourpy=1.2.1=pypi_0
cryptography=41.0.2=py39hac1b9e3_0
cuda-cccl=12.2.140=0
cuda-cudart=11.8.89=0
cuda-cudart-dev=11.8.89=0
cuda-cupti=11.8.87=0
cuda-libraries=11.8.0=0
cuda-libraries-dev=11.8.0=0
cuda-nvrtc=11.8.89=0
cuda-nvrtc-dev=11.8.89=0
cuda-nvtx=11.8.86=0
cuda-profiler-api=12.2.140=0
cuda-runtime=11.8.0=0
cycler=0.11.0=pypi_0
dash=2.11.1=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
deap=1.4.1=pypi_0
debugpy=1.5.1=py39hd77b12b_0
decorator=5.1.1=pyhd8ed1ab_0
defusedxml=0.7.1=pypi_0
dnspython=2.4.1=pypi_0
dscribe=2.1.0=pypi_0
einops=0.8.0=pypi_0
emmet-core=0.68.0=pypi_0
et-xmlfile=1.1.0=pypi_0
eval-type-backport=0.2.0=pypi_0
exceptiongroup=1.1.2=pypi_0
executing=1.2.0=pyhd8ed1ab_0
fastjsonschema=2.18.0=pypi_0
filelock=3.9.0=py39haa95532_0
filetype=1.2.0=pypi_0
flask=2.2.5=pypi_0
flatten-dict=0.4.2=pypi_0
fonttools=4.41.1=pypi_0
fqdn=1.5.1=pypi_0
freetype=2.12.1=ha860e81_0
fsspec=2024.6.1=pypi_0
future=0.18.3=pypi_0
ghp-import=2.1.0=pypi_0
giflib=5.2.1=h8cc25b3_3
google-auth=2.23.3=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
greenlet=3.0.3=pypi_0
grpcio=1.59.0=pypi_0
h11=0.14.0=pypi_0
huggingface-hub=0.24.5=pypi_0
icecream=2.1.3=pypi_0
idna=3.4=py39haa95532_0
imageio=2.34.2=pypi_0
importlib-metadata=6.8.0=pyha770c72_0
importlib-resources=6.0.0=pypi_0
importlib_metadata=6.8.0=hd8ed1ab_0
inflect=7.2.0=pypi_0
intel-openmp=2023.1.0=h59b6b97_46319
ipykernel=6.15.0=pyh025b116_0
ipython=8.14.0=pyh08f2357_0
ipywidgets=8.1.0=pypi_0
isoduration=20.11.0=pypi_0
itsdangerous=2.1.2=pypi_0
jarvis-tools=2024.4.10=pypi_0
jedi=0.18.2=pyhd8ed1ab_0
jinja2=3.1.2=py39haa95532_0
jmespath=1.0.1=pypi_0
joblib=1.3.1=pypi_0
jpeg=9e=h2bbff1b_1
json2html=1.3.0=pypi_0
json5=0.9.14=pypi_0
jsonpointer=2.4=pypi_0
jsonref=1.1.0=pypi_0
jsonschema=4.18.4=pypi_0
jsonschema-specifications=2023.7.1=pypi_0
jupyter-events=0.7.0=pypi_0
jupyter-lsp=2.2.0=pypi_0
jupyter-server=2.7.0=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyter_client=8.3.0=pyhd8ed1ab_0
jupyter_core=5.3.1=py39hcbf5309_0
jupyterlab=4.0.4=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-server=2.24.0=pypi_0
jupyterlab-widgets=3.0.8=pypi_0
kiwisolver=1.4.4=pypi_0
latexcodec=2.0.1=pypi_0
lazy-loader=0.4=pypi_0
lerc=3.0=hd77b12b_0
libcublas=11.11.3.6=0
libcublas-dev=11.11.3.6=0
libcufft=10.9.0.58=0
libcufft-dev=10.9.0.58=0
libcurand=10.3.3.141=0
libcurand-dev=10.3.3.141=0
libcusolver=11.4.1.48=0
libcusolver-dev=11.4.1.48=0
libcusparse=11.7.5.86=0
libcusparse-dev=11.7.5.86=0
libdeflate=1.17=h2bbff1b_0
libnpp=11.8.0.86=0
libnpp-dev=11.8.0.86=0
libnvjpeg=11.9.0.86=0
libnvjpeg-dev=11.9.0.86=0
libpng=1.6.39=h8cc25b3_0
libsodium=1.0.18=h8d14728_1
libtiff=4.5.0=h6c2663c_2
libuv=1.44.2=h2bbff1b_0
libwebp=1.2.4=hbc33d0d_1
libwebp-base=1.2.4=h2bbff1b_1
llvmlite=0.41.1=pypi_0
lz4-c=1.9.4=h2bbff1b_0
markdown=3.5=pypi_0
markupsafe=2.1.3=pypi_0
matminer=0.9.2=pypi_0
matplotlib=3.7.2=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
mendeleev=0.17.0=pypi_0
mergedeep=1.3.4=pypi_0
mistune=3.0.1=pypi_0
mkdocs=1.5.3=pypi_0
mkdocs-material=9.5.4=pypi_0
mkdocs-material-extensions=1.3.1=pypi_0
mkl=2023.1.0=h6b88ed4_46357
mkl-service=2.4.0=py39h2bbff1b_1
mkl_fft=1.3.6=py39hf11a4ad_1
mkl_random=1.2.2=py39hf11a4ad_1
mongomock=4.1.2=pypi_0
monotonic=1.6=pypi_0
monty=2023.11.3=pypi_0
more-itertools=10.2.0=pypi_0
mp-api=0.36.1=pypi_0
mpcontribs-client=5.4.2=pypi_0
mpmath=1.3.0=py39haa95532_0
msgpack=1.0.5=pypi_0
nbclient=0.8.0=pypi_0
nbconvert=7.7.3=pypi_0
nbformat=5.9.2=pypi_0
nest-asyncio=1.5.6=pyhd8ed1ab_0
networkx=3.1=py39haa95532_0
nltk=3.8.1=pypi_0
notebook-shim=0.2.3=pypi_0
numba=0.58.1=pypi_0
numpy=1.25.1=pypi_0
numpy-base=1.25.2=py39h65a83cf_0
oauthlib=3.2.2=pypi_0
opencv-python-headless=4.10.0.84=pypi_0
openpyxl=3.1.2=pypi_0
openssl=3.0.10=h2bbff1b_2
orjson=3.9.10=pypi_0
overrides=7.4.0=pypi_0
packaging=23.1=pyhd8ed1ab_0
paginate=0.5.6=pypi_0
palettable=3.3.3=pypi_0
pandas=1.5.3=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pyhd8ed1ab_0
pathspec=0.12.1=pypi_0
pickleshare=0.7.5=py_1003
pillow=10.0.0=pypi_0
pint=0.19.2=pypi_0
pip=23.2.1=py39haa95532_0
platformdirs=3.9.1=pyhd8ed1ab_0
plotly=5.15.0=pypi_0
pooch=1.7.0=pypi_0
prometheus-client=0.17.1=pypi_0
prompt-toolkit=3.0.39=pyha770c72_0
prompt_toolkit=3.0.39=hd8ed1ab_0
protobuf=4.24.4=pypi_0
psutil=5.9.0=py39h2bbff1b_0
pubchempy=1.0.4=pypi_0
pure_eval=0.2.2=pyhd8ed1ab_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pybind11=2.11.1=pypi_0
pybtex=0.24.0=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pydantic=1.10.14=pypi_0
pydantic-core=2.18.1=pypi_0
pydash=7.0.6=pypi_0
pyfiglet=0.8.post1=pypi_0
pygments=2.17.2=pypi_0
pyisemail=2.0.1=pypi_0
pymatgen=2023.11.12=pypi_0
pymdown-extensions=10.7=pypi_0
pymongo=4.6.3=pypi_0
pynacl=1.5.0=pypi_0
pyopenssl=23.2.0=py39haa95532_0
pyparsing=3.0.9=pypi_0
pypdf2=3.0.1=pypi_0
pyproject-toml=0.0.10=pypi_0
pysocks=1.7.1=py39haa95532_0
python=3.9.17=h1aa4202_0
python-dateutil=2.8.2=pyhd8ed1ab_0
python-dotenv=1.0.0=pypi_0
python-graphviz=0.20.1=pypi_0
python-json-logger=2.0.7=pypi_0
python_abi=3.9=2_cp39
pytorch=2.0.0=py3.9_cuda11.8_cudnn8_0
pytorch-cuda=11.8=h24eeafa_5
pytorch-mutex=1.0=cuda
pytz=2023.3=pypi_0
pyvista=0.41.1=pypi_0
pywin32=305=py39h2bbff1b_0
pywinpty=2.0.11=pypi_0
pyyaml=6.0.1=pypi_0
pyyaml-env-tag=0.1=pypi_0
pyzmq=25.1.1=pypi_0
rdkit=2023.9.4=pypi_0
referencing=0.30.0=pypi_0
regex=2023.12.25=pypi_0
requests=2.31.0=py39haa95532_0
requests-futures=1.0.1=pypi_0
requests-oauthlib=1.3.1=pypi_0
retrying=1.3.4=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rfc3987=1.3.8=pypi_0
robocrys=0.2.8=pypi_0
rpds-py=0.9.2=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.17.32=pypi_0
ruamel-yaml-clib=0.2.7=pypi_0
s3transfer=0.8.2=pypi_0
safetensors=0.4.3=pypi_0
scikit-image=0.24.0=pypi_0
scikit-learn=1.5.1=pypi_0
scipy=1.11.1=pypi_0
scooby=0.7.2=pypi_0
seaborn=0.12.2=pypi_0
semantic-version=2.10.0=pypi_0
send2trash=1.8.2=pypi_0
sentinels=1.0.0=pypi_0
setuptools=68.2.2=pypi_0
simplejson=3.19.1=pypi_0
six=1.16.0=pyh6c4a22f_0
sklearn=0.0.post7=pypi_0
sniffio=1.3.0=pypi_0
soupsieve=2.4.1=pypi_0
sparse=0.15.1=pypi_0
spglib=2.0.2=pypi_0
sqlalchemy=2.0.30=pypi_0
sqlite=3.41.2=h2bbff1b_0
stack_data=0.6.2=pyhd8ed1ab_0
starlette=0.27.0=pypi_0
swagger-spec-validator=3.0.3=pypi_0
sweetviz=2.2.1=pypi_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
tbb=2021.8.0=h59b6b97_0
tenacity=8.2.2=pypi_0
tensorboard=2.14.1=pypi_0
tensorboard-data-server=0.7.1=pypi_0
tensorboardx=2.6.2.2=pypi_0
terminado=0.17.1=pypi_0
ternary=0.1=pypi_0
ternary-diagram=3.1.0=pypi_0
threadpoolctl=3.2.0=pypi_0
tifffile=2024.7.2=pypi_0
timm=1.0.8=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.12=h2bbff1b_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
toolz=0.12.0=pypi_0
torchaudio=2.0.0=pypi_0
torchinfo=1.8.0=pypi_0
torchsummary=1.5.1=pypi_0
torchvision=0.15.0=pypi_0
tornado=6.2=py39hb82d6ee_0
tqdm=4.66.2=pypi_0
traitlets=5.9.0=pyhd8ed1ab_0
typeguard=4.2.1=pypi_0
typing-extensions=4.11.0=pypi_0
tzdata=2023.3=pypi_0
ujson=5.8.0=pypi_0
uncertainties=3.1.7=pypi_0
uri-template=1.3.0=pypi_0
urllib3=2.0.4=pypi_0
uvicorn=0.24.0.post1=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
vtk=9.2.6=pypi_0
watchdog=3.0.0=pypi_0
wcwidth=0.2.6=pyhd8ed1ab_0
webcolors=1.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.6.1=pypi_0
werkzeug=2.2.3=pypi_0
wheel=0.41.2=pypi_0
widgetsnbextension=4.0.8=pypi_0
win_inet_pton=1.1.0=py39haa95532_0
wrapt=1.16.0=pypi_0
xmltodict=0.13.0=pypi_0
xyzservices=2024.6.0=pypi_0
xz=5.4.2=h8cc25b3_0
zeromq=4.3.4=h0e60522_1
zipp=3.16.2=pyhd8ed1ab_0
zlib=1.2.13=h8cc25b3_0
zstd=1.5.5=hd43e919_0
